Package: fr.pba.springboard
Name: AlertSpringBoard
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Paul Bancarel
Author: Paul Bancarel
Section: Tweaks
Version: 0.0.1-16+debug
Installed-Size: 152
